html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

h1{
  font-family: 'Rubik', 'sans-serif';
}

.header-app{
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: blueviolet;
  box-shadow: 3px 2px 6px black;
}

.contador{
  font-size: 275%
}